* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Big Shoulders Display", Verdana;
  /* background-color: #151515; */
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 375px;
}

/* Header */

.div-1 {
  background-image: url(../assets/mobile/image-map.png);
  background-repeat: no-repeat;
}

.location-container {
  height: 500px;
  background-repeat: no-repeat;
}

.button-container {
  width: 274px;
  height: 72px;
  display: flex;
}

.button-container__array {
  width: 56px;
  background-color: #d5966c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container__text {
  width: 208px;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container:hover .button-container__array {
  background-color: #151515;
}

.button-container:hover .button-container__text {
  background-color: #d5966c;
}

.button__text {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 3.63636px;
  text-transform: uppercase;
}

/* Article */

.main-article {
  background-color: #151515;
  padding: 48px 16px 56px 16px;
}

.main-article__heading {
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 48px;
}

.main-article__heading-2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #d5966c;
  margin-bottom: 20px;
}

.main-article__location {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}

.main-article__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

/* Footer */

.main-footer {
  background-color: #d5966c;
  padding: 48px 30px;
}

.main-footer__heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.main-footer__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #151515;
  margin-bottom: 38px;
}

.social-list {
  list-style: none;
  display: flex;
}

.social-list__item {
  margin-right: 20px;
  font-size: 24px;
}

.social-list__item:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .main-container {
    max-width: 768px;
  }

  .div-1 {
    background-image: url(../assets/tablet/image-map.png);
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  .main-article {
    background-color: #151515;
    padding: 88px 40px 80px 40px;
    display: flex;
  }

  .main-article__heading {
    margin-right: 68px;
  }

  .main-footer {
    display: flex;
    padding: 56px 20px 56px 40px;
  }

  .main-footer__heading {
    margin-right: 65px;
  }

  .main-footer__text {
    width: 281px;
    margin-right: 80px;
    margin-bottom: 0px;
  }

  .list-item-3 {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1440px;
  }

  .div-1 {
    background-image: url(../assets/desktop/image-map.png);
    background-repeat: no-repeat;
    padding-left: 156px;
  }

  .main-article {
    background-color: #151515;
    padding: 104px 165px 128px 165px;
    display: flex;
  }

  .main-article__heading {
    margin-right: 220px;
  }

  .main-footer {
    padding: 80px 165px 80px 165px;
  }

  .main-footer__heading {
    margin-right: 140px;
  }

  .main-footer__text {
    width: 100%;
    margin-right: 280px;
    margin-bottom: 0px;
  }
}
