* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Big Shoulders Display", Verdana;
  color: #151515;
}

a {
  text-decoration: none;
}

/* Header */

.main-container {
  max-width: 375px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 16px;
}

.main-header {
  background-image: url(../assets/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  height: 750px;
  max-width: 375px;
}

.div-1 {
  margin-top: 272px;
}

.main-header__heading {
  font-weight: 900;
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main-header__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 32px;
}

.button-container {
  width: 274px;
  height: 72px;
  display: flex;
}

.button-container__array {
  width: 56px;
  background-color: #d5966c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container__text {
  width: 208px;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container:hover .button-container__array {
  background-color: #151515;
}

.button-container:hover .button-container__text {
  background-color: #d5966c;
}

.button__text {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 3.63636px;
  text-transform: uppercase;
}

/* Main Article */

.main-article__container {
  margin-top: 25px;
}

.main-article__heading {
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 21px;
}

.main-article__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 32px;
}

.img-2 {
  margin-bottom: 16px;
}

.img-3 {
  width: 100%;
}

/* Second Article */

.second-article__container {
  background-color: #151515;
  margin-top: 16px;
  padding: 48px 24px;
  margin-bottom: 120px;
}

.second-article__heading {
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
}

.second-article__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

/* Footer */

.main-footer {
  background-color: #151515;
  padding: 48px 32px 50px 32px;
  max-width: 375px;
}

.main-footer__heading {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 38px;
}

.main-footer__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 38px;
}

.social-list {
  list-style: none;
  display: flex;
  color: #ffffff;
}

.social-list__item {
  margin-right: 20px;
  font-size: 24px;
}

.social-list__item:hover {
  color: #d5966c;
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .main-container {
    max-width: 768px;
    padding: 0 40px;
  }

  .main-header {
    background-image: url(../assets/tablet/image-hero.jpg);
    max-width: 768px;
  }

  .div-1 {
    margin-top: 145px;
    margin-left: 389px;
    width: 339px;
  }

  .main-header__heading {
    font-size: 70px;
    line-height: 65px;
  }

  .main-article__container {
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 11px;
  }

  .img-1 {
    width: 398px;
    margin-left: 68px;
  }

  .second-article {
    display: flex;
  }

  .img-2 {
    width: 398px;
    height: 720px;
    margin-right: 11px;
  }

  .img-3 {
    height: 313px;
  }

  .second-article__container {
    padding: 85px 29px 85px 29px;
    margin-top: 8px;
  }

  .second-article__heading {
    margin-bottom: 24px;
  }

  .main-footer {
    max-width: 768px;
    display: flex;
    padding: 56px 40px 56px 40px;
  }

  .main-footer__heading {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 8px;
    margin-right: 65px;
  }

  .main-footer__text {
    font-family: "Outfit";
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 8px;
    margin-right: 133px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1440px;
    padding: 0 165px;
  }

  .main-footer {
    max-width: 1440px;
    display: flex;
    padding: 80px 165px;
  }

  .main-header {
    background-color: #151515;
    background-image: url(../assets/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 1440px;
    padding: 0 165px;
  }

  .main-header__heading {
    font-size: 96px;
    line-height: 88px;
    color: #ffffff;
    mix-blend-mode: difference;
  }

  .div-1 {
    margin-top: 189px;
    margin-left: 0;
    width: 100%;
    display: flex;
  }

  .div-2 {
    width: 350px;
    margin-left: 246px;
  }
}
